<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <table>
      <% for(var i in content) { %>
      <tr>
        <% var obj = content[i].attributes; %>
        <th><%= obj.id %></th>
        <td><%= obj.name %></td>
        <td><%= obj.mail %></td>
        <td><%= obj.age %></td>
      </tr>
      <% } %>
    </table>
    <div>
      <span><a href="/hello/1">&lt;&lt; First</a></span>
      |
      <span><a href="/hello/<%= pagination.page - 1 %>">&lt;&lt; Prev</a></span>
      |
      <span><a href="/hello/<%= pagination.page + 1 %>">Next &gt;&gt;</a></span>
      |
      <span><a href="/hello/<%= pagination.pageCount %>">Last &gt;&gt;</a></span>
    </div>
  </main>
</body>
</html>