<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <p><%- content %></p>

    <form method="post" action="/users">
      <p>
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= form.name %>" id="name">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= form.password %>" id="password">
      </p>
      <p>
        <input type="submit" value="ログイン">
      </p>
    </form>

    <p>
      <a href="/">&lt;&lt; Topへ戻る</a>
      <a href="/users/add">アカウントの作成&gt;&gt;</a>
    </p>
  </main>
</body>
</html>
